.linkButton {
    position: fixed;
    left: 20px;
    top: 37px;
    margin: 5px 15px 15px 0;
    border: 1px solid #fff;
    border-radius: 10px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 550;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 112, 122, 0.4), 0 1px 3px rgb(0 0 0 / 20%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
    min-width: 105px;
    text-align: center;
}

.linkButton:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 80%), 0 3px 6px rgb(0 0 0 / 60%);
}

.linkButton:active {
    background-color: #797878;
    color: white;
}

.linkButton {
    color: #444;
    background-color: #fff;
}